/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

body {
  min-height: 100vh;
  margin:0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  top: 0;
}

header,
footer {
  left: 0;
  width: 100%;
  height:10vh;
  background: black;
  z-index: 100;
}
footer {
  bottom: 0;
}

#typeahead_id {
  font-size: 2em;
  width:100%;
  height:10vh;
  border: none;
  margin:0;
  padding:0;
}
.simple-typeahead .simple-typeahead-list {
  bottom: 10vh;
}
.simple-typeahead .simple-typeahead-list .simple-typeahead-list-item {
  background-color: var(--color-background) !important;
}

header h1,
footer #search {
  font-size:2em;
  margin:0
}
h1 {
  text-align: center;
  line-height: 10vh;
}
h1 span {
  color:white;
}

body {
  margin:0;
  /* max-width:800px; */
}

#game {
  display: block;
  position: relative;
  z-index: -1;
  width: 100%;
  height:100%;
  height: 80vh;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: blue;
}
#app {
  display: block;
  margin:0 auto;
  max-width:800px;

}

#game[level="1"] {
  filter: blur(50px);
}
#game[level="2"] {
  filter: blur(40px);
}
#game[level="3"] {
  filter: blur(30px);
}
#game[level="4"] {
  filter: blur(20px);
}
#game[level="5"] {
  filter: blur(10px);
}
#game[level="6"] {
  filter: blur(5px);
}
/* 
#game[level="7"] {
  filter: blur(40px);
}
#game[level="8"] {
  filter: blur(30px);
}
#game[level="9"] {
  filter: blur(20px);
}
#game[level="10"] {
  filter: blur(10px);
} */